* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $text-color;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}