// Les couleurs de base de  votre site

$primary-color: "";   
$secondary-color: "";
$bg-color: "";
$text-color: "";
$error-color: "";

// Typographie
$primary-font: 'Inter', sans-serif;
$primary-size: "";

// Espacement & Bordures
$radius: "";
$container-width: "";


// Navbar
$navbar-height: 80px;
$navbar-search-height: 40px;
$navbar-gap: 1rem;